name: Node js App

on:
    push:
        branches: [ main ]
    pull_request: 
        branches: [ main ]


jobs:

    prepare: 
      runs-on: ubuntu-latest
      steps:
        - name: Checkout repo
          uses: actions/checkout@v4

        - name: Extract Version
          run : | 
              chmod +x common/version_extract.sh
              ./common/version_extract.sh

        - name:  Debugging the extracted Version
          run: echo $VERSION

        - name: Upload Version artifact
          uses: actions/upload-artifact@v4
          with:
            name: version
            path: version.yaml

    config_aws:
      runs-on: ubuntu-latest
      steps:
        - name : Config AWS credentials
          uses: aws-actions/configure-aws-credentials@v4
          with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            aws-region: ${{ secrets.AWS_REGION }}   
            
        - name: Login into AWS ecr
          uses: aws-actions/amazon-ecr-login@v2
    build:
      runs-on: ubuntu-latest
      needs: prepare
      steps:
        - name: Checkout repo
          uses: actions/checkout@v4

        - name: Download artifact
          uses: actions/download-artifact@v4
          with:
            name: version

        - name: Load version into enviroment
          run: |
              chmod +x common/load_version.sh
              ./common/load_version.sh

        - name: Setup Nodejs
          uses: actions/setup-node@v4
          with:
            node-version: "20"
            cache: 'npm'

        - name: Install dep
          run: npm i

        - name: Package app artifact
          run: |
              chmod +x common/package_artifact.sh
              ./common/package_artifact.sh

        - name: Upload build artifacts
          uses: actions/upload-artifact@v4
          with:
            name: app-build
            path: artifacts/
    docker:
        needs: build
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Download artifact
              uses: actions/download-artifact@v4
              with:
                name: version

            - name: Load version into enviroment
              run: |
                chmod +x common/load_version.sh
                ./common/load_version.sh

            - name: Debugging the extracted Version
              run: echo $VERSION

            - name: Download artifact 
              uses: actions/download-artifact@v4
              with:
                name: app-build

            
            - name: Extract app artifact
              run: |
                  chmod +x common/extract_artifact.sh
                  ./common/extract_artifact.sh

            - name : Config AWS credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: ${{ secrets.AWS_REGION }}   
                
            - name: Login into AWS ecr
              uses: aws-actions/amazon-ecr-login@v2

            - name: Build and push Image 
              uses: docker/build-push-action@v6 
              with:
                context: .
                file: ./Dockerfile
                push: true
                tags: ${{ secrets.ECR_URI }}/cicd-aseel:${{ env.VERSION }}
                
    deploy:
      runs-on: ubuntu-latest
      needs: docker
      steps:
        - name: Checkout repo
          uses: actions/checkout@v4
        - name: Download artifact
          uses: actions/download-artifact@v4
          with:
            name: version

        - name: Load version into enviroment
          run: |
            chmod +x common/load_version.sh
            ./common/load_version.sh
        
        - name: ssh to the server
          uses: appleboy/ssh-action@v1.0.3
          with:
            host: ${{ secrets.PUPLIC_IP }}
            username: ${{ secrets.HOST_NAME }}
            key: ${{ secrets.PRIVATE_KEY }}
            script: |
              echo "ECR Login"
              aws ecr get-login-password --region us-west-2 | docker login --username AWS --password-stdin ${{ secrets.ECR_URI }}/cicd-aseel:${{ env.VERSION }}

              echo "pull image"
              docker pull ${{ secrets.ECR_URI }}/cicd-aseel:${{ env.VERSION }}
              docker stop nodeapp
              docker rm nodeapp
              docker run -dp 3000:3000 --name nodeapp ${{ secrets.ECR_URI }}/cicd-aseel:${{env.VERSION}}